use-pnpm=true
# use node_modules linker so hoisting works
node-linker=node-modules
shamefully-hoist=true

# # your existing hoists
# public-hoist-pattern[]=@expo/next-adapter
# public-hoist-pattern[]=webpack
# public-hoist-pattern[]=next-transpile-modules
# public-hoist-pattern[]=@babel/preset-typescript
# public-hoist-pattern[]=babel-loader
# public-hoist-pattern[]=babel-preset-expo
# public-hoist-pattern[]=@babel/plugin-transform-class-properties
# public-hoist-pattern[]=@babel/plugin-transform-private-methods
# public-hoist-pattern[]=@babel/plugin-transform-private-property-in-object
# public-hoist-pattern[]=string-replace-loader
# public-hoist-pattern[]=metro-config
# public-hoist-pattern[]=babel-plugin-inline-dotenv

# # React Native
# public-hoist-pattern[]=@dnd-kit/utilities
# public-hoist-pattern[]=lodash.isequal

# # hoist all your TM targets:
# public-hoist-pattern[]=expo
# public-hoist-pattern[]=expo-auth-session
# public-hoist-pattern[]=expo-calendar
# public-hoist-pattern[]=expo-constants
# public-hoist-pattern[]=expo-file-system
# public-hoist-pattern[]=expo-image
# public-hoist-pattern[]=expo-image-picker
# public-hoist-pattern[]=expo-location
# public-hoist-pattern[]=expo-modules-core
# public-hoist-pattern[]=expo-splash-screen
# public-hoist-pattern[]=expo-status-bar
# public-hoist-pattern[]=expo-video

# public-hoist-pattern[]=react-native
# public-hoist-pattern[]=react-native-config
# public-hoist-pattern[]=react-native-get-random-values
# public-hoist-pattern[]=react-native-paper
# public-hoist-pattern[]=react-native-reanimated
# public-hoist-pattern[]=react-native-safe-area-context
# public-hoist-pattern[]=react-native-svg
# public-hoist-pattern[]=react-native-svg-transformer
# public-hoist-pattern[]=react-native-toast-message
# public-hoist-pattern[]=react-native-vector-icons
# public-hoist-pattern[]=react-native-webview
# public-hoist-pattern[]=react-native-zoom-toolkit

# public-hoist-pattern[]=@react-navigation/core
# public-hoist-pattern[]=@react-navigation/native
# public-hoist-pattern[]=@shopify/flash-list

# public-hoist-pattern[]=solito

# public-hoist-pattern[]=@react-native-async-storage/async-storage
# public-hoist-pattern[]=@react-native-picker/picker
# public-hoist-pattern[]=react-native-draggable-flatlist
# public-hoist-pattern[]=react-native-elements
# public-hoist-pattern[]=react-native-event-source
# public-hoist-pattern[]=react-native-geolocation-service
# public-hoist-pattern[]=react-native-gifted-chat
# public-hoist-pattern[]=react-native-markdown-display
# public-hoist-pattern[]=react-native-screens
# public-hoist-pattern[]=react-native-slick

# public-hoist-pattern[]=react-native-web

# public-hoist-pattern[]=shared-ui

# public-hoist-pattern[]=formik
# public-hoist-pattern[]=react-virtualized
